# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# programs
alias slt='open -a "Sublime Text"'
alias slt2='open -a "Sublime Text 2"'
# also/or do this:
# ln -s "/Applications/Sublime Text 2.app/Contents/SharedSupport/bin/subl" ~/bin/subl

# php
php='/Applications/MAMP/bin/php/php5.5.3/bin/php'

# Xcode themes directory
xtheme='Library/Developer/Xcode/UserData/FontAndColorThemes'

# be nice
alias please=sudo
alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)

# GIT STUFF

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
alias undocommit="git reset --soft HEAD~1"

# Shortcuts
alias g="git"
alias v="vim"

# Show hidden files in Finder
alias showhidden="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
# Hide hidden files in Finder
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"
