# Xcode themes directory
xtheme='Library/Developer/Xcode/UserData/FontAndColorThemes'

# List only directories
alias lsd='ls -l | grep "^d"'

# Docker
alias dcs="docker stop $(docker ps -a -q)"
alias dcr="docker rm $(docker ps -a -q)"

# Show hidden files in Finder
alias showhidden="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
# Hide hidden files in Finder
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"
